.caja1{
	width: 300px;
	height: 200px;
	padding: 20px;
	overflow: visible;
	background-color: grey;
}


.body{
	background: repeating-linear-gradient(
  45deg,
  #606dbc,
  #606dbc 10px,
  #465298 10px,
  #465298 20px
);
}